{
  "printWidth": 120,
  "tabWidth": 4,
  "tabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}